@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.experience {
    display: flex;
    margin: 6px;
    flex-direction: column;
    border: 2px dotted white;
    /* padding: 30px; */
    border-radius: 10px;
    width: 320px;
    height: 250px;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    background-color: #191919;
    overflow: hidden;
}

.experience-box-text {
    margin: 0;
    font-weight: 300;
    font-size: 35px;
}
@media only screen and (max-width: 1024px){
    .experience{
        display: flex;
        flex-direction:column;
        max-height: 100vh;
        max-width: 100vh;
      
    }
}

.experience>p {
    font-family: "josefin sans", sans-serif;
    font-size: 23px;
    letter-spacing: 1px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 15px;
}

.experience>h1 {
    margin-top: 50px;
}